h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: var(--primary-font);
}

.section {
  width: 100%;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.page-header {
  background: black;
  padding-bottom: 50px;
  padding-top: 40px;
}

.page-header__nav {
  display: flex;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__link {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.5px;
  color: #FFFFFF;
  opacity: 0.67;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.page-nav {
  display: flex;
  align-items: center;
}

.menu__link {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.page-header__logo {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 1px;
  color: #FFFFFF;
  margin-right: auto;
}

.page-hero {
  position: relative;
  background: black;
}

.hero-container {
  position: relative;
}

.page-hero__news {
  display: flex;
  align-items: center;
  width: 329px;
  height: 36px;
  background: rgba(255, 255, 255, 0.1);
  margin-left: 10px;
  margin-bottom: 55px;
  border-radius: 200px;
}

.news__item {
  display: block;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  opacity: 0.8;
}

.news__btn {
  width: 46px;
  height: 26px;
  left: 125px;
  top: 218px;
  background: #25AB75;
  border: solid transparent;
  border-radius: 200px;
  margin: 5px;
}

.page-hero__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 200px;
  line-height: 170px;
  letter-spacing: -2px;
  color: #FFFFFF;
}

.page-hero__subtitle {
  display: block;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  opacity: 0.5;
  width: 600px;
  height: 58px;
  left: 120px;
  top: 662px;
  margin-top: 15px;
  margin-left: 10px;
}

.hero__btn {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 1px;
  color: #FFFFFF;
  width: 200px;
  height: 70px;
  left: 120px;
  top: 770px;
  background: #25AB75;
  border-radius: 10px;
  margin: 30px;
}

.hero-img {
  position: absolute;
  width: 650px;
  height: 750px;
  left: 629px;
  top: 0px;
  background: url("/img/image1.png");
}

.counter {
  display: block;
}

.minutes-counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 166px;
  height: 98px;
  left: 1050px;
  top: -600px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  text-align: center;
  vertical-align: middle;
}

.minutes-counter__numb {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 30px;
  letter-spacing: 1px;
  color: #FFE642;
  top: 20px;
}

.minutes-counter__text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  letter-spacing: 1px;
  color: #FFFFFF;
  margin-top: 10px;
}

.calories-counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 166px;
  height: 98px;
  left: 1050px;
  top: -320px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
}

.calories-counter__numb {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 1px;
  color: #FB1351;
}

.calories-counter__text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #FFFFFF;
}/*# sourceMappingURL=main.css.map */