.page-header {
    // background: black;
    padding-bottom: 50px;
    padding-top: 40px;
}
.page-header__logo{
    display: block;
}
.page-header__logo:hover,
.page-header__logo:focus {
        color: #fff;
        text-shadow: 0 0 5px #03e9f4,
                    0 0 25px #03e9f4,
                    0 0 50px #03e9f4,
                    0 0 100px #03e9f4;
    }
.page-header__nav {
    display: flex;
}
.menu {
    display: flex;
    align-items: center;
}


.menu__link {
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
letter-spacing: 1.5px;
color: #FFFFFF;
opacity: 0.67;
}
.menu__item:not(:last-child){
    margin-right: 50px;
    } 
.page-nav {    
    display: flex;
    align-items: center; 
}
.menu__link {
    position: relative;
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    &:before {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 100%;
        border-top: 2px solid #25AB75;
        border-bottom: 2px solid #25AB75;
        transform: scaleY(2);
        opacity: 0;
        transition: .3s;
    }
    &:after {
        content: '';
        position: absolute;
        top: -1px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #25AB75;
        transform: scale(0);
        opacity: 0;
        transition: .3s;
        z-index: -1;
    }
    &:hover,
    &:focus {
        color: #fff;
        &:before {
        transform: scaleY(1);
        opacity: 1;
        }
        &:after {
        transform: scaleY(1);
        opacity: 1;
        }
    }
}

.page-header__logo {
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
letter-spacing: 1px;
color: #FFFFFF;
margin-right: auto;
}
