.pop-exercises__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.pop-exercises__head h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.3px;
    color: #FFFFFF;
    margin-bottom: 50px;
    @media screen and (min-width: 768px) {
        font-size: 25px;
    }
}

.pop-exercises__more {
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
letter-spacing: 1.5px;
color: #FFFFFF;
opacity: 0.67;
margin-bottom: 45px;
transition: all 0.3s ease;
}

.pop-exercises__more:hover, 
.pop-exercises__more:focus{
    display: block;
    padding: 15px;
    border-radius: 5px;
    color: #3DA35D;
    background-color: #FFFFFF;
}


.pop-exercises__list {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        gap: 30px;
        flex-wrap: wrap;
        gap:20px;
    }
    @media screen and (max-width: 479px){
        display: flex;
        align-content: center;
        justify-content: center;
    }
}

.pop-exercises__card{
    border-radius: 10px;
    // width: 373px;
    height: 296px;
    // margin: 0px;
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
}
.pop-exercises__card:hover,
.pop-exercises__card:focus{
    box-shadow: 0px 5px 10px #25AB75, 0px 7px 10px #1a7f57, 3px 6px 10px #25AB75;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
    @media screen and (min-width: 768px){ 
    .pop-exercises__card{
        flex-basis:calc((100% - 60px )/2);
    }       
} 

@media screen and (min-width: 1200px) {
    .pop-exercises__card {
    flex-basis:calc((100% - 90px )/3);
    }

}

.pop-exercises__img {
    
    border-radius: 10px;
    width: 100%;
}
.pop-exercises__item {
    border-radius: 10px;
    // width: 373px;
}

.pop-exercises__preview {
    position: relative;
}

.pop-exercises__timing{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 29px;
    background: #000000;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 19px;
    letter-spacing: 1.36667px;
    color: #FFFFFF;
    top: -75px;
    right: -300px;
}

.pop-exercises__subclass {
    position: relative;
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 50px;
line-height: 45px;
letter-spacing: 0.3px;
color: #FFFFFF;
bottom: 25px;
margin-left: 10px;
text-shadow: 8px 8px 8px #00000f, 0 0 2px #FB1351, 0 0 2em #00000f;
}

.pop-exercises__calories {
    position: relative;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 14px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    opacity: 0.67;
    bottom: 50px;
    margin-left: 10px;
}


